body {
    overflow: visible;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
    user-select: none;
}

.timer {
    padding-top: 15px;
    font-size: calc((3rem * 3.15) + 0.05em);
    font-weight: 700;
    position: relative;
    right: 0;
    left: 0;
}

h1 {
    font-size: 4rem;
}

.fantasy {
    font-family: fantasy;
}
.cursive {
    font-family: "Sacramento", cursive;
} 
.serif {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.sans-serif {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.time-up-message {
    font-weight: 750;
    font-size: 5rem;
    color: red;
}

.start-btn {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.row {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.blink {
    background: red;
    animation: blinker 1.5s linear infinite;
}

.not-allowed {
    cursor: not-allowed;
    opacity: 0.5;
}
  
.instructions {
    opacity: 0.8;
    font-weight: normal;
    font-size: 1.05em;
}

.disappear {
    opacity: 0;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}



@media (min-width: 319px) and (max-width: 480px) {
    h1 {
        color: lightsalmon;
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    h1 {
        color: powderblue;
    }
}

@media (min-width: 780px) {
    .timer, .time-up-message {
        font-size: 15rem;
    }
}
